.page {
    font-family: var(--page-font);
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-text-color);

    background-color: var(--bg-color);
}

.button {
    font-family: var(--page-font);
    cursor: pointer;
    border-style: none;
    border-radius: 14px;
}

.title {
    font-size: 30px;
    font-weight: 400;

    @media screen and (min-width: 768px) {
        font-weight: 400;
        font-size: 40px;
        line-height: 1;
    }
}