.clients {
    padding-top: 120px;
}

.clients__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients__title {
    margin-bottom: 15px;
    text-align: center;
}

.clients__text {
    margin-bottom: 80px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 50px;

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        gap: 0px;
    }
}

.clients__item {
    margin-right: 0px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:not(:last-child) {
            margin-right: 22px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-right: 100px;
        }
    }

    @media screen and (min-width: 1440px) {
        &:not(:last-child) {
                margin-right: 109px;
            }
    }
    }

.clients__icon {
    fill: var(--main-text-color);
}

