.help__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help__title {
    margin-bottom: 15px;

    text-align: center;
}

.help__text {
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}